<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

      <header>
                  <h1 class='userName'>FLAB Member Spotlight: <%= user.username %> </h1>

                  <nav>

                            <ul>


                              <li>
                                      <a href="/articles/new">Create New Article</a>
                              </li>

                              <li>
                                      <a href="/sessions/logout">Logout</a>
                              </li>

                            </ul>
                  </nav>
      </header>

      <main>
              <section>
                          <h2>Look at this FLAB!</h2>

              </section>

              <section>

              <%# BEGINNING OF SEED DATA      %>

<div class="row">
    <div class="col-md-6">




                  <br>

                    <img class="img-responsive" src="<%=user.image%>" alt="<%=user.username%>"/>


                  <br>




</div>
<div class="col-md-6">
  <br/>
  <br/>
  <br/>
  <h2 id="thisFlab" style="text-align: center;">About <%=user.username%>
  </h2>
  <br>
                  <h3 class="seedText">
                    <%=user.about%><hr>
                  </h3>



              <%# END OF SEED DATA      %>

              <section>
                          <h2>Articles Written by This Author:</h2>

                          <ul>
                                <% for(let i = 0; i < user.articles.length; i++){ %>
                                <li><a href="/articles/<%=user.articles[i]._id%>">
                                <%=user.articles[i].title%></a></li>
                                <% } %>
                          </ul>
              </section>



              <section>

                          <form action="/users/<%=user._id%>?_method=DELETE" method="POST">

                            <input type="submit" value="Delete User">

                          </form>

              </section>

              <section>
                          <a href="/users/<%=user._id%>/edit">Edit</a>
              </section>
      </main>

</div>
      <div class="clearfix"></div>
      <% include ../partials/footer.ejs %>
  </body>
</html>
