<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <br>
    <br>
    <br>

      <header>
                  <h1 class='authorName'>FLAB Member Spotlight: <%= author.name %> </h1>

                  <nav>

                            <ul>


                              <li>
                                      <a href="/articles/new">Create New Article</a>
                              </li>

                              <li>
                                      <a href="/sessions/logout">Logout</a>
                              </li>

                            </ul>
                  </nav>
      </header>

      <main>
              <section>
                          <h2>Look at this FLAB!</h2>

              </section>

              <section>

              <%# BEGINNING OF SEED DATA      %>

<div class="row">
    <div class="col-md-6">




                  <br>

                    <img class="img-responsive" src="<%=author.image%>" alt="<%=author.name%>"/>


                  <br>




</div>
<div class="col-md-6">
  <br/>
  <br/>
  <br/>
  <h2 id="thisFlab" style="text-align: center;">About <%=author.name%>
  </h2>
  <br>
                  <h3 class="seedText">
                    <%=author.about%><hr>
                  </h3>



              <%# END OF SEED DATA      %>

              <section>
                          <h2>Articles Written by This Author:</h2>

                          <ul>
                                <% for(let i = 0; i < author.articles.length; i++){ %>
                                <li><a href="/articles/<%=author.articles[i]._id%>">
                                <%=author.articles[i].title%></a></li>
                                <% } %>
                          </ul>
              </section>


<!-- ========================================================================
this section coded out & should be in an author edit profile place for the user:

              <section>

                          <form action="/authors/<%=author._id%>?_method=DELETE" method="POST">

                            <input type="submit" value="Delete Author">

                          </form>

              </section>

              <section>
                          <a href="/authors/<%=author._id%>/edit">Edit</a>
              </section>


========================================================================-->
      </main>

</div>
      <div class="clearfix"></div>
      <% include ../partials/footer.ejs %>
  </body>
</html>
